.badge{
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid grey;
    border-radius: 0px;
    background-color: grey;
}
.badge:hover{
    background-color: white;
    color: grey;
    border: 2px solid grey;
}