.carousel-img{
    width: 3.5rem !important;
}
.day-card{
    border: 2px solid transparent;
    max-width: 140px !important;
}
.day-card:hover{
    border: 2px solid rgba(128, 128, 128, 0.479);
}
.selected{
    background-color: rgba(128, 128, 128, 0.479);
}


