.form-control{
    border-radius: 0rem !important;
    border: 1px solid #3d7bb9 !important;
}
.form-control:focus{
    box-shadow: none !important;
}
.form-control:focus-visible{
    outline: none !important;
}
.navbar-brand{
    color: #3d7bb9 !important;
}
.search-bar{
    background-color: white !important;
}
.search-btn{
    border-radius: 0% !important;
    border: 1px solid #3d7bb9 !important;
}
.search-btn:hover{
    background-color: #3d7bb9 !important;
}
.search-btn:focus{
    box-shadow: none !important;
}