@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&display=swap');

.App{
    min-width: 460px !important;
    font-family: 'Inter', sans-serif !important;
}
.background{
    background-image: linear-gradient(to bottom,#0058a575,#0067AF) !important;
}
.border-detail{
    border-top: 2px solid #dfe6e99c;
}
.border-detail-bottom{
    border-bottom: 2px solid #dfe6e99c !important;
}
.font_xxl{
    font-size: 66px !important;
    
}
.font_xl{
    font-size: 32px !important;
}
.font_l{
    font-size: 28px !important;
}
.font_m{
    font-size: 24px !important;
    color: white;
}
.font_s{
    font-size: 20px !important;
    color: white;
}
.font_xs{
    font-size: 14px !important;
    color: white;
}
div{
    color: white;
}
.badge{
    padding: 0.5rem !important;
    font-size: 1rem !important;
    cursor: pointer;
    border: 0px ;
    border-radius: 0px !important;
    background-color: #dfe6e99c !important;
    color: #0058a575 !important;
}
.badge:hover{
    background-color: white !important;
    color: #082D39;
    border: 0px;
}

