.temp{
    font-size: 3rem;
}
.unit{
    font-size: 1.8rem;
}
.active-unit{
    cursor: pointer;
}
.selected{
    background-color: rgb(172, 170, 170);
}
.jumbotron{
    border-radius: 0rem !important;
}